@model WebApplication1.Models.Order

@{
    ViewBag.Title = "Invoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="invoice" class="p-h-30">
    <div class="m-t-15 lh-2">
        <div class="float-right">
            <h2>INVOICE</h2>
        </div>
    </div>
    <div class="row m-t-20 lh-2">
        <div class="col-sm-9">
            <h3 class="p-l-10 m-t-10">Thông tin hóa đơn:</h3>
            <div class="inline-block">
                <address class="p-l-7">
                    <span class="text-dark" title="Customer Name">Tên khách hàng: </span>
                    @*<span class="font-weight-semibold text-dark">@Model.Name</span><br>*@
                    <span class="text-dark" title="Address">Địa chỉ: </span>
                    @*<span>@Model.Adress</span><br>*@
                    <span class="text-dark" title="Phone">Phone: </span>
                    @*<span>@Model.Phone</span>*@
                </address>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="m-t-80">
                <div class="text-dark text-uppercase d-inline-block">
                    <span class="font-weight-semibold text-dark">Invoice No :</span>
                </div>
                <div class="float-right">#@Model.OrderID</div>
            </div>
            <div class="text-dark text-uppercase d-inline-block">
                <span class="font-weight-semibold text-dark">Date :</span>
            </div>
            <div class="float-right">@Model.OrderDate.Value.ToString("dd-M-yyyy")</div>
        </div>
    </div>
    <div class="m-t-20">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Items</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.OrderItems != null && Model.OrderItems.Any())
                    {
                        int index = 1;
                        foreach (var item in Model.OrderItems)
                        {
                            <tr>
                                <th>@index</th>
                                <td>@item.Product.ProductName</td>
                                <td>@item.Quantity</td>
                                <td>@item.UnitPrice.ToString("C")</td> <!-- Định dạng tiền tệ -->
                                <td>$@(item.Quantity * item.UnitPrice)</td> <!-- Định dạng tiền tệ -->
                            </tr>
                            index++;
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="row m-t-30 lh-1-8">
            <div class="col-sm-12">
                <div class="float-right text-right">

                    <p>VAT (10%): @((Model.OrderItems.Sum(item => item.Quantity * item.UnitPrice) * 0.10M).ToString("C"))</p>
                    <hr>
                    <h3>
                        <span class="font-weight-semibold text-dark">Total :</span>
                        @((Model.OrderItems.Sum(item => item.Quantity * item.UnitPrice)-(Model.OrderItems.Sum(item => item.Quantity * item.UnitPrice) * 0.10M)).ToString("C"))
                    </h3>
                </div>
            </div>
        </div>

        <div class="row m-v-20">
            <div class="col-sm-6 text-right">
                <small><span class="font-weight-semibold text-dark">Phone:</span> (123) 456-7890</small>
                <br>
                <small>support@themenate.com</small>
            </div>
        </div>
    </div>
</div>
