<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <!-- Bootstrap CSS từ CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Font Awesome từ CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <!-- Bundled CSS -->
    @Styles.Render("~/Content/css")

    <!-- Các tệp CSS tùy chỉnh khác -->
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />

</head>
<body>
    <header>
        <nav>
            <div class="container-custom" style="overflow-x:auto">
                <ul>
                    <li>
                        <a href="@Url.Action("Xuhuong", "Xuhuong")">
                            <img src="	https://www.watchstore.vn/images/config/logo-watchstore3-9-24_1725292445.webp" alt="Logo" style="width: 155px" />
                        </a>
                    </li>

                    <li class="li-list">
                    <li><a href="#" class="tieude">Giới thiệu</a></li>
                    <li>
                        <a href="#" class="tieude" style="color: red">Xu Hướng 2024</a>
                    </li>

                    <!-- Menu Dropdown -->
                    <li class="dropdown">
                        <a href="#" class="tieude">
                            Menu <i class="fa-solid fa-sort-down"></i>
                        </a>
                        <div class="dropdown-content">
                            <div class="row">
                                <div class="column">
                                    <b>Phổ biến nhất</b>
                                    <hr />
                                    <a href="#">Casio</a>
                                    <a href="#">Orient</a>
                                    <a href="#">Seiko</a>
                                    <a href="#">Citizen</a>
                                    <a href="#">Olympia</a>
                                    <a href="#">Bentley</a>
                                </div>
                                <div class="column">
                                    <b>Hàng cao cấp</b>
                                    <hr />
                                    <a href="#">Tissot</a>
                                    <a href="#">Frederique Constant</a>
                                    <a href="#">Orient Star</a>
                                    <a href="#">Longines</a>
                                    <a href="#">Certina</a>
                                    <a href="#">Omega</a>
                                </div>
                                <div class="column">
                                    <b>Các Hãng Khác</b>
                                    <hr />
                                    <a href="#">Carnival</a>
                                    <a href="#">Calvin Klein</a>
                                    <a href="#">Bonest Gatti</a>
                                    <a href="#">Daniel Klein</a>
                                    <a href="#">Freelook</a>
                                    <a href="#">SevenFriday</a>
                                </div>
                                <div class="column">
                                    <b>Phân loại đồng hồ</b>
                                    <hr />
                                    <a href="#">Dụng Cụ</a>
                                    <a href="#">Thể Thao</a>
                                    <a href="#">Lịch Sử</a>
                                    <a href="#">Thời Trang</a>
                                    <a href="#">Công Nghệ</a>
                                </div>
                                <div class="column">
                                    <b>Phong Cách</b>
                                    <hr />
                                    <a href="#">Sang trọng</a>
                                    <a href="#">Thể thao</a>
                                    <a href="#">Cổ điển</a>
                                    <a href="#">Hiện đại</a>
                                    <a href="#">Minimalist</a>
                                    <a href="#">Vintage</a>
                                </div>
                            </div>
                        </div>
                    </li>

                    <!-- Nam Dropdown -->
                    <li class="dropdown">
                        <a href="#" class="tieude">
                            Nam <i class="fa-solid fa-sort-down"></i>
                        </a>
                        <div class="dropdown-content">
                            <div class="row">
                                <div class="column">
                                    <b>Phổ biến nhất</b>
                                    <hr />
                                    <a href="#">Casio</a>
                                    <a href="#">Orient</a>
                                    <a href="#">Seiko</a>
                                    <a href="#">Citizen</a>
                                    <a href="#">Olympia</a>
                                    <a href="#">Bentley</a>
                                </div>
                                <div class="column">
                                    <b>Hàng cao cấp</b>
                                    <hr />
                                    <a href="#">Tissot</a>
                                    <a href="#">Frederique Constant</a>
                                    <a href="#">Orient Star</a>
                                    <a href="#">Longines</a>
                                    <a href="#">Certina</a>
                                    <a href="#">Omega</a>
                                </div>
                                <div class="column">
                                    <b>Các Hãng Khác</b>
                                    <hr />
                                    <a href="#">Carnival</a>
                                    <a href="#">Calvin Klein</a>
                                    <a href="#">Bonest Gatti</a>
                                    <a href="#">Daniel Klein</a>
                                    <a href="#">Freelook</a>
                                    <a href="#">SevenFriday</a>
                                </div>
                                <div class="column">
                                    <b>Phân loại đồng hồ</b>
                                    <hr />
                                    <a href="#">Dụng Cụ</a>
                                    <a href="#">Thể Thao</a>
                                    <a href="#">Lịch Sử</a>
                                    <a href="#">Thời Trang</a>
                                    <a href="#">Công Nghệ</a>
                                </div>
                                <div class="column">
                                    <b>Phong Cách</b>
                                    <hr />
                                    <a href="#">Sang trọng</a>
                                    <a href="#">Thể thao</a>
                                    <a href="#">Cổ điển</a>
                                    <a href="#">Hiện đại</a>
                                    <a href="#">Minimalist</a>
                                    <a href="#">Vintage</a>
                                </div>
                            </div>
                        </div>
                    </li>

                    <!-- Nữ Dropdown -->
                    <li class="dropdown">
                        <a href="#" class="tieude">
                            Nữ <i class="fa-solid fa-sort-down"></i>
                        </a>
                        <div class="dropdown-content">
                            <div class="row">
                                <div class="column">
                                    <b>Phổ biến nhất</b>
                                    <hr />
                                    <a href="#">Casio</a>
                                    <a href="#">Orient</a>
                                    <a href="#">Seiko</a>
                                    <a href="#">Citizen</a>
                                    <a href="#">Olympia</a>
                                    <a href="#">Bentley</a>
                                </div>
                                <div class="column">
                                    <b>Hàng cao cấp</b>
                                    <hr />
                                    <a href="#">Tissot</a>
                                    <a href="#">Frederique Constant</a>
                                    <a href="#">Orient Star</a>
                                    <a href="#">Longines</a>
                                    <a href="#">Certina</a>
                                    <a href="#">Omega</a>
                                </div>
                                <div class="column">
                                    <b>Các Hãng Khác</b>
                                    <hr />
                                    <a href="#">Carnival</a>
                                    <a href="#">Calvin Klein</a>
                                    <a href="#">Bonest Gatti</a>
                                    <a href="#">Daniel Klein</a>
                                    <a href="#">Freelook</a>
                                    <a href="#">SevenFriday</a>
                                </div>
                                <div class="column">
                                    <b>Phân loại đồng hồ</b>
                                    <hr />
                                    <a href="#">Dụng Cụ</a>
                                    <a href="#">Thể Thao</a>
                                    <a href="#">Lịch Sử</a>
                                    <a href="#">Thời Trang</a>
                                    <a href="#">Công Nghệ</a>
                                </div>
                                <div class="column">
                                    <b>Phong Cách</b>
                                    <hr />
                                    <a href="#">Sang trọng</a>
                                    <a href="#">Thể thao</a>
                                    <a href="#">Cổ điển</a>
                                    <a href="#">Hiện đại</a>
                                    <a href="#">Minimalist</a>
                                    <a href="#">Vintage</a>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li><a href="#" class="tieude">Luxury</a></li>
                    <li><a href="#" class="tieude">Cao cấp</a></li>

                    <!-- Search Container -->
                    <style>
                        .search-form {
                            position: relative;
                        }

                        .input-container {
                            position: relative;
                            display: flex;
                            align-items: center;
                            width: 100%;
                        }

                        .search-icon {
                            position: absolute;
                            right: 10px; /* Khoảng cách từ bên phải */
                            font-size: 16px; /* Kích thước icon */
                            color: #999; /* Màu sắc của icon */
                            cursor: pointer; /* Để con trỏ thay đổi khi hover vào icon */
                        }

                        input[type="text"] {
                            padding-right: 30px; /* Dành không gian cho icon bên phải */
                            width: 100%;
                            padding: 8px;
                            font-size: 14px;
                            border: 1px solid #ccc;
                            border-radius: 5px;
                        }
                    </style>
                    <li class="search-container">
                        <form action="@Url.Action("Find", "Xuhuong")" method="get" id="searchForm">
                            <input type="text" name="searchQuery" placeholder="Tìm là thấy..." />
                            <i class="fa-solid fa-magnifying-glass search-icon" onclick="submitForm()"></i>
                        </form>
                    </li>
                    <script>
                        function submitForm() {
                            var searchQuery = document.getElementById('searchQuery').value;

                            if (searchQuery) {
                                var actionUrl = '@Url.Action("BanHang", "Xuhuong", new { page = 1, filterType = "" })';
                                actionUrl = actionUrl + "?search=" + encodeURIComponent(searchQuery);
                                document.getElementById('searchForm').action = actionUrl;
                            }
                            document.getElementById('searchForm').submit();
                        }
                    </script>



                    <!-- Cart and Heart Icons -->
                    <li class="icon-links">
                        <a href="@Url.Action("GioHang", "Xuhuong")"><i class="fa-solid fa-cart-shopping"></i></a>
                    </li>
                    <li class="dangnhap">
                        @if (Session["UserLoggedIn"] != null)
                        {
                            <span class="user-icon">👤 @Session["UserLoggedIn"]</span>

                            <div class="logout-menu hidden">
                                <a href="@Url.Action("Logout", "Account")" class="logout-button">Logout</a>
                                <a href="@Url.Action("HistoryOrder", "Xuhuong")" class="logout-button">History</a>
                                <a href="@Url.Action("ProfileUser", "Account")" class="logout-button">Profile</a>

                            </div>
                        }
                        else
                        {
                            <a href="@Url.Action("Login", "Account")" class="login-button">Login</a>
                        }
                    </li>
                    <style>
                        .hidden {
                            display: none;
                        }

                        .logout-menu {
                            position: absolute;
                            top: 50px; /* Điều chỉnh vị trí */
                            right: 10px;
                            background-color: white;
                            border: 1px solid #ccc;
                            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                            padding: 10px;
                            border-radius: 5px;
                            z-index: 100;
                        }

                        .logout-button {
                            text-decoration: none;
                            color: #333;
                            font-weight: bold;
                        }

                            .logout-button:hover {
                                color: red;
                            }
                    </style>
                    <script>
                        document.querySelector('.user-icon').addEventListener('click', function () {
                            const logoutMenu = document.querySelector('.logout-menu');
                            logoutMenu.classList.toggle('hidden');
                        });

                        // Ẩn menu khi click bên ngoài
                        document.addEventListener('click', function (event) {
                            const userIcon = document.querySelector('.user-icon');
                            const logoutMenu = document.querySelector('.logout-menu');
                            if (!userIcon.contains(event.target) && !logoutMenu.contains(event.target)) {
                                logoutMenu.classList.add('hidden');
                            }
                        }); 
                        function submitForm() {
                            document.getElementById("searchForm").submit(); // Gửi form khi click vào icon
                        }
                    </script>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="footer-section">
            <div class="wrapper">
                <div class="flex-row">
                    <div class="footer-column">
                        <h4>LIÊN HỆ HỖ TRỢ</h4>
                        <ul class="no-bullets">
                            <li><a href="#">Giới thiệu về WatchStore</a></li>
                            <li><a href="#">Phản ánh - Khiếu nại</a></li>
                            <li><a href="#">Chứng nhận đại lý</a></li>
                            <li><a href="#">Tin tức công ty</a></li>
                            <li><a href="#">Top list đồng hồ</a></li>
                            <li><a href="#">Kiến thức đồng hồ</a></li>
                        </ul>
                    </div>
                    <div class="footer-column">
                        <h4>CHÍNH SÁCH CHUNG</h4>
                        <ul class="no-bullets">
                            <li><a href="#">Điều khoản thanh toán </a></li>
                            <li><a href="#">Chính sách bảo hành</a></li>
                            <li><a href="#">Chính sách bảo mật</a></li>
                            <li><a href="#">Chính sách vận chuyển </a></li>
                            <li><a href="#">Chính sách đổi trả</a></li>
                        </ul>
                    </div>
                    <div class="footer-column">
                        <h4>CỬA HÀNG HÀ NỘI & HCM</h4>
                        <ul class="no-bullets">
                            <li>
                                <a href="#">
                                    <i class="fas fa-map-marker-alt" style="color: orange; background-color: #000000"></i>
                                    97 Trần Đại Nghĩa, HBT, Hà Nội
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fas fa-map-marker-alt" style="color: orange; background-color: #000000"></i>
                                    58 Trần Đăng Ninh, Cầu Giấy, Hà Nội
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fas fa-map-marker-alt" style="color: orange; background-color: #000000"></i>
                                    90 Lê Văn Sỹ, P11, Phú Nhuận, HCM
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fas fa-map-marker-alt" style="color: orange; background-color: #000000"></i>
                                    61 Quang Trung, P10, Gò Vấp, HCM
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-column">
                        <h4>LIÊN HỆ CHÚNG TÔI</h4>
                        <ul class="no-bullets">
                            <li><a href="#">Hotline: 035844654</a></li>
                            <li><a href="#">Hotline: 065648949</a></li>
                            <li><a href="#">Hotline: 025649846</a></li>
                            <li><a href="#">Hotline: 026261999</a></li>
                        </ul>
                        <h4>THEO DỖI CHÚNG TÔI TẠI</h4>
                        <div class="social-icons" style="background-color: #000000">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/js.js"></script>
</body>
</html>
