<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Document</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    
    @Styles.Render("~/Content/css")
</head>
<body>
    <header>
        <nav>
            <div class="Container">
                <ul>
                    <li>
                        
                    </li>
                    <li><a href="#" class="tieude">Gioi thieu</a></li>
                    <li><a href="#" class="tieude" style="color: red;">XU HUONG 2024</a></li>
                    <li class="dropdown">
                        <a href="#" class="tieude">
                            Menu<i class="fa-solid fa-sort-down"></i>
                        </a>
                        <div class="dropdown-content">
                            <div class="row">
                                <div class="column">
                                    <b>Pho bien nhat</b>
                                    <hr>
                                    <a href="#">Casio</a>
                                    <a href="#">Orient</a>
                                    <a href="#">Seiko</a>
                                    <a href="">Citizen</a>
                                    <a href="">Olym Piamus</a>
                                    <a href="">Bentley</a>
                                    <a href="">Bulova</a>
                                    <a href="">SRwatch</a>
                                    <a href="">Daniel Wellington</a>
                                </div>
                                <div class="column">
                                    <b>Hang cao cap</b>
                                    <hr>
                                    <a href="#"> Tissot</a>
                                    <a href="#"> Frederique Constant</a>
                                    <a href="#"> Orient Star</a>
                                    <a href="">Longines</a>
                                    <a href="">Certina</a>
                                    <a href="">Omega</a>
                                    <a href="">Ogival</a>
                                    <a href="">Movado</a>
                                    <a href="">Maurice Lacroix</a>
                                </div>
                                <div class="column">
                                    <b>Cac Hang Khac</b>
                                    <hr>
                                    <a href="#"> Carnival</a>
                                    <a href="#"> Calvin Klein</a>
                                    <a href="#"> Bonest Gatti</a>
                                    <a href=""> Daniel Klein</a>
                                    <a href="">Freelook</a>
                                    <a href="">SevenFriday</a>
                                    <a href="">Versace</a>
                                </div>
                                <div class="column">
                                    <b>Phan loai dong ho</b>
                                    <hr>
                                    <a href="#"> Carnival</a>
                                    <a href="#"> Calvin Klein</a>
                                    <a href="#"> Bonest Gatti</a>
                                    <a href=""> Daniel Klein</a>
                                    <a href="">Freelook</a>
                                    <a href="">SevenFriday</a>
                                    <a href="">Versace</a>
                                </div>
                                <div class="column">
                                    <b>Phong Cach</b>
                                    <hr>
                                    <a href="#"> Carnival</a>
                                    <a href="#"> Calvin Klein</a>
                                    <a href="#"> Bonest Gatti</a>
                                    <a href=""> Daniel Klein</a>
                                    <a href="">Freelook</a>
                                    <a href="">SevenFriday</a>
                                    <a href="">Versace</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="tieude" style="position: relative;">Nam<i class="fa-solid fa-sort-down"></i></a>
                        <div class="dropdown-content" style="position: absolute; left: -88px;">
                            <div class="row">
                                <div class="column">
                                    <b>Pho bien nhat</b>
                                    <hr>
                                    <a href="#">Casio</a>
                                    <a href="#">Orient</a>
                                    <a href="#">Seiko</a>
                                    <a href="">Citizen</a>
                                    <a href="">Olym Piamus</a>
                                    <a href="">Bentley</a>
                                    <a href="">Bulova</a>
                                    <a href="">SRwatch</a>
                                    <a href="">Daniel Wellington</a>
                                </div>
                                <div class="column">
                                    <b>Hang cao cap</b>
                                    <hr>
                                    <a href="#"> Tissot</a>
                                    <a href="#"> Frederique Constant</a>
                                    <a href="#"> Orient Star</a>
                                    <a href="">Longines</a>
                                    <a href="">Certina</a>
                                    <a href="">Omega</a>
                                    <a href="">Ogival</a>
                                    <a href="">Movado</a>
                                    <a href="">Maurice Lacroix</a>
                                </div>
                                <div class="column">
                                    <b>Cac Hang Khac</b>
                                    <hr>
                                    <a href="#"> Carnival</a>
                                    <a href="#"> Calvin Klein</a>
                                    <a href="#"> Bonest Gatti</a>
                                    <a href=""> Daniel Klein</a>
                                    <a href="">Freelook</a>
                                    <a href="">SevenFriday</a>
                                    <a href="">Versace</a>
                                </div>
                                <div class="column">
                                    <b>Phan loai dong ho</b>
                                    <hr>
                                    <a href="#"> Carnival</a>
                                    <a href="#"> Calvin Klein</a>
                                    <a href="#"> Bonest Gatti</a>
                                    <a href=""> Daniel Klein</a>
                                    <a href="">Freelook</a>
                                    <a href="">SevenFriday</a>
                                    <a href="">Versace</a>
                                </div>
                                <div class="column">
                                    <b>Phong Cach</b>
                                    <hr>
                                    <a href="#"> Carnival</a>
                                    <a href="#"> Calvin Klein</a>
                                    <a href="#"> Bonest Gatti</a>
                                    <a href=""> Daniel Klein</a>
                                    <a href="">Freelook</a>
                                    <a href="">SevenFriday</a>
                                    <a href="">Versace</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="tieude" style="position: relative;">Nu<i class="fa-solid fa-sort-down"></i></a>
                        <div class="dropdown-content" style="position: absolute; left: -170px;">
                            <div class="row">
                                <div class="column">
                                    <b>Pho bien nhat</b>
                                    <hr>
                                    <a href="#">Casio</a>
                                    <a href="#">Orient</a>
                                    <a href="#">Seiko</a>
                                    <a href="">Citizen</a>
                                    <a href="">Olym Piamus</a>
                                    <a href="">Bentley</a>
                                    <a href="">Bulova</a>
                                    <a href="">SRwatch</a>
                                    <a href="">Daniel Wellington</a>
                                </div>
                                <div class="column">
                                    <b>Hang cao cap</b>
                                    <hr>
                                    <a href="#"> Tissot</a>
                                    <a href="#"> Frederique Constant</a>
                                    <a href="#"> Orient Star</a>
                                    <a href="">Longines</a>
                                    <a href="">Certina</a>
                                    <a href="">Omega</a>
                                    <a href="">Ogival</a>
                                    <a href="">Movado</a>
                                    <a href="">Maurice Lacroix</a>

                                </div>
                                <div class="column">
                                    <b>Cac Hang Khac</b>
                                    <hr>
                                    <a href="#"> Carnival</a>
                                    <a href="#"> Calvin Klein</a>
                                    <a href="#"> Bonest Gatti</a>
                                    <a href=""> Daniel Klein</a>
                                    <a href="">Freelook</a>
                                    <a href="">SevenFriday</a>
                                    <a href="">Versace</a>
                                </div>
                                <div class="column">
                                    <b>Phan loai dong ho</b>
                                    <hr>
                                    <a href="#"> Carnival</a>
                                    <a href="#"> Calvin Klein</a>
                                    <a href="#"> Bonest Gatti</a>
                                    <a href=""> Daniel Klein</a>
                                    <a href="">Freelook</a>
                                    <a href="">SevenFriday</a>
                                    <a href="">Versace</a>
                                </div>
                                <div class="column">
                                    <b>Phong Cach</b>
                                    <hr>
                                    <a href="#"> Carnival</a>
                                    <a href="#"> Calvin Klein</a>
                                    <a href="#"> Bonest Gatti</a>
                                    <a href=""> Daniel Klein</a>
                                    <a href="">Freelook</a>
                                    <a href="">SevenFriday</a>
                                    <a href="">Versace</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    </li>
                    <li><a href="#" class="tieude">Luxury</a></li>
                    <li><a href="#" class="tieude">Cu cao cap</a></li>
                    <li class="search-container">
                        <input type="text" placeholder="Tim la thay..." />
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </li>
                    <li>
                        <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa-solid fa-heart"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
